/* HomePage.css */
body{
  background-color: #0a192f;
}
.homepage {
    text-align: center;
    padding: 20px;
  }
  
  .homepage h1 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  .homepage p {
    font-size: 18px;
  }
  
  .main-cont{
    padding: 150px 150px;
  }