/* SkillsSection.css */

.skill{
  background-color: #f0ffff2b;
  border-radius: 10px;
  padding: 10px;
  margin-block: 15px;
  color: #ccd6f6;
  margin-top: 11rem;
}

.skill-icon {
  font-size: 20px;
  margin-right: -2px;
  margin-bottom: -5px;
  color: #ccd6f6;
}


h2 {
    font-size: 24px;
    margin-bottom: 10px;
    margin-left: 11px;
  }
  
 .skill ul {
  list-style-type: none;
  padding-left: 0px;
  color: #64ffda;
  font-family: 'SF Mono','Fira Code','Fira Mono','Roboto Mono',monospace;
  }
  
 .skill li {
    margin-bottom: 5px;
    background: #0000007a;
    border-radius: 22px;
    padding: 12px;
  }
  